@charset "UTF-8";

/*
Default
 */

@font-face {
    font-family: "Noto Sans KR";
    src: url("../fonts/NotoSansKR-Medium.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Noto Sans KR";
    src: url("../fonts/NotoSansKR-Regular.otf");
    font-weight: normal;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    color: #3A3A3A;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}
ol, ul { list-style: none; }
a { text-decoration: none; }
body { background-color: #FCFCFC; }
hr {
    width: 100%; height: 1px;
    margin: 5px 0;
    border: none;
    background-color: #E1E1E1;
}

.outside {
    min-width: 1140px;
    overflow: hidden;
}
.inside {
    max-width: 1140px;
    margin: 0 auto;
}

.left-side {
    width: 50%;
    float: left;
}

.right-side {
    width: 50%;
    float: right;
}

.hidden { display: none; }
.no-mouse { pointer-events: none; }


.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.color-font { color: #15BC80; font-weight: bold; font-size: 1.05rem; }




/* Button */

.btn {
    padding: 5px 15px;
    background: #fff;
    border: 1px solid #ddd;
    color: #202326;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover { opacity: 0.9; }

.btn-color {
    border: none;
    background-color: rgb(66, 182, 240);
    color: #fff;
}
.btn-info {
    border: none;
    background-color: rgb(88, 229, 248);
    color: #fff;
}
.btn-danger {
    border: none;
    background-color: rgb(240, 80, 80);
    color: #fff;
}

/* Text */
.muted { color: #D6D6D6; }
.bold { font-weight: bold; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/*Flex */
.flex { display: flex; }
.f-center { justify-content: center; }
.f-around { justify-content: space-around; }
.f-between { justify-content: space-between; }
.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.items-bottom { align-items: flex-end; }

.self-start { align-self: flex-start; }
.self-center { align-self: center; }
.self-bottom { align-self: flex-end; }


/*Float*/
.f-left { float: left; }
.f-right { float: right; }


/*Margin*/
.mt-1 {margin-top:  5px!important;}
.mt-2 {margin-top: 10px!important;}
.mt-3 {margin-top: 15px!important;}
.mt-4 {margin-top: 20px!important;}
.mt-5 {margin-top: 25px!important;}

.ml-1 {margin-left:  5px!important;}
.ml-2 {margin-left: 10px!important;}
.ml-3 {margin-left: 15px!important;}
.ml-4 {margin-left: 20px!important;}
.ml-5 {margin-left: 25px!important;}

.mb-1 {margin-bottom:  5px!important;}
.mb-2 {margin-bottom: 10px!important;}
.mb-3 {margin-bottom: 15px!important;}
.mb-4 {margin-bottom: 20px!important;}
.mb-5 {margin-bottom: 25px!important;}

.mr-1 {margin-right:  5px!important;}
.mr-2 {margin-right: 10px!important;}
.mr-3 {margin-right: 15px!important;}
.mr-4 {margin-right: 20px!important;}
.mr-5 {margin-right: 25px!important;}


/*Padding*/

.pt-1 {padding-top:  5px!important;}
.pt-2 {padding-top: 10px!important;}
.pt-3 {padding-top: 15px!important;}
.pt-4 {padding-top: 20px!important;}
.pt-5 {padding-top: 25px!important;}

.pl-1 {padding-left:  5px!important;}
.pl-2 {padding-left: 10px!important;}
.pl-3 {padding-left: 15px!important;}
.pl-4 {padding-left: 20px!important;}
.pl-5 {padding-left: 25px!important;}

.pb-1 {padding-bottom:  5px!important;}
.pb-2 {padding-bottom: 10px!important;}
.pb-3 {padding-bottom: 15px!important;}
.pb-4 {padding-bottom: 20px!important;}
.pb-5 {padding-bottom: 25px!important;}

.pr-1 {padding-right:  5px!important;}
.pr-2 {padding-right: 10px!important;}
.pr-3 {padding-right: 15px!important;}
.pr-4 {padding-right: 20px!important;}
.pr-5 {padding-right: 25px!important;}


/* Width */

.w-100 { display: inline-block; width: 100%; }
.w-75 { display: inline-block; width: 75%; }
.w-50 { display: inline-block; width: 50%; }
.w-33 { display: inline-block; width: 33.333%; }
.w-25 { display: inline-block; width: 25%; }


/*
Header
*/


header.outside {
    background-color: #fff;
    box-shadow: 0 1px 7px #BCBCBC;
    height: 70px;
    overflow: visible;
}

header nav {
    height: 70px;
}



header .center a {
    position: relative;
    display: inline;
    line-height: 70px;
    padding: 5px 10px;
    margin: 5px 10px;
}

header .right a:hover, header .center a:hover .nav-name, header .center a.active .nav-name {
    color: #15BC80;
    transition: color 0.25s;
}



header .right a, header .right p {
    float: left;
    display: block;
    height: 70px;
    padding: 0 20px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    color: #272933;
    font-size: 0.9rem;
}

header .right div a, header .right div p {
    /*line-height: 1rem;*/
    text-align: left;
    clear: both;
    height: 20px;
    line-height: 50px;
}

header span.username {
    color: #15BC80;
    margin-right : 5px;
}

header a.logout {
    display: inline-block;
    margin: 23px 0;
    width: 25px; height: 25px;
    padding: 0;
    background-image: url("/assets/images/icons/logout.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/*
Footer
*/

footer {
    background-color: #383B42;
    height: 300px;
}

footer * { color: #fff; }

footer .body { height: 230px; }
footer .left, footer .right { width: 25%; height: 230px; }

/*Projects*/

footer .projects {
    width: 50%;
    height: 230px;
}

footer .title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 1.3rem;
}

footer .sub-title {
    text-align: left;
}

footer .contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

footer .item { margin: 10px 0; text-align: left; }
footer .item  a { color: #D6D6D6; font-size: 0.9rem;}

footer .non-record {
    color: #808080;
    font-size: 0.95rem;
    margin-top: 10px;
    pointer-events: none;
}

/*Right*/
footer .made-info {
    display: flex;
    flex-direction: column-reverse;
    float: right;
    width: 250px;
    height: 100%;
    font-size: 0.9em;
}

footer .info-group { height: 30px; }

footer .info-group .label { width: 30%; }
footer .info-group .muted { width: 70%; }

/*Copyright*/

footer .foot {
    width: 100%;
    height: 70px;
    border-top: #2C323A solid 1px;
    text-align: center;
    line-height: 70px;
}
