@charset "UTF-8";

/* Input */

.custom-input {
    position: relative;
    width: 100%;
    height: 52px;
    margin-bottom: 10px;
}

.custom-input::before {
    content: '';
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 2px;
    background-color: #ddd;
}


.custom-input input{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 1rem;
    border: none;
    caret-color: #AED623;
}

.custom-input .bar {
    position: absolute;
    left: 0; bottom: 0;
    width: 0; height: 2px;
    background: #2685B5;
    transition: 1s width;
}


.custom-textarea {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.custom-textarea::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: #ddd;
}

.custom-textarea .bar {
    position: absolute;
    left: 0; top: 0;
    border-style: solid;
    border-width: 0;
    border-color: #2685B5 transparent transparent #2685B5;
    transition: 2s border-width;
}

.custom-textarea textarea {
    position: absolute;
    left: 2px; top: 2px;
    display: block;
    width: calc(100% - 4px); height: calc(100% - 4px);
    padding: 5px;
    border: none;
    caret-color: #AED623;
    resize: none;
    z-index: 1;
}

.custom-input input::placeholder,
.custom-textarea textarea::placeholder
{ color: #828282; }


/* 연관 검색어 설정 */

.relate-box {
    position: absolute;
    top: 52px; left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.relate-box > .item {
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 5px 10px;
    border: #ddd solid 1px;
    cursor: pointer;
}

.relate-box > .item:hover {
    background-color: #F0F0F0;
}


.form-success { color: #35AF61; }
.form-error { color: #E15151; }
.form-help {color: #7C7C7C }
.form-success,  .form-error, .form-help  {
    font-size: 0.8rem;
    padding-left: 5px;
}

.custom-file {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.custom-file::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: #ddd;
}

.custom-file label:not(.upload-btn) {
    position: absolute;
    top: 2px; left: 52px;
    display: block;
    width: calc(100% - 54px);
    height: calc(100% - 4px);
    background-color: #fff;
    color: #828282;
    padding-left: 10px;
    line-height: 50px;
    z-index: 1;
}

.custom-file label.upload-btn {
    position: absolute;
    left: 0; top: 0;
    display: inline-block;
    width: 50px; height: 100%;
    background-image: url(/assets/images/icons/upload.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}

.custom-file .bar {
    position: absolute;
    left: 0; top: 0;
    border-width: 0;
    border-style: solid;
    border-color: #2685B5 transparent transparent #2685B5;
    transition: 2s border-width;
}

.custom-date {
    width: 100%;
    height: 35px;
    display: flex;
}

.custom-date .year, .custom-date .month, .custom-date .date {
    width: 15%;
    height: 35px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
}

.custom-date .year { width: 20%; }

.custom-date .bar {
    position: absolute;
    top:0; left: 0;
    border-width: 0;
    border-color: #2685B5 transparent transparent #2685B5;
    border-style: solid;
    transition: border-width 1s;
}

.custom-date .year > input, .custom-date .month > input, .custom-date .date > input {
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.custom-date .year > input::-ms-expand, .custom-date > input::-ms-expand, .custom-date > input::-ms-expand {
    display: none;
}

.custom-date input {
    position: absolute;
    top: 2px; left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: #fff;
    text-align: center;
    text-align-last: center;
    z-index: 1;
}

.custom-date .suffix {
    line-height: 35px;
    margin: 0 20px 0 10px;
}